

@font-face {
    font-family: 'RobotoMono';
    src: url('./RobotoMono-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: 'Roboto';
    src: url('./Roboto-Regular.ttf')  format('truetype');
}


@font-face {
    font-family: 'RobotoBlack';
    src: url('./Roboto-Black.ttf')  format('truetype');
}


body {
    background: #202020;;
    color: #C0C0C0;
    font-family: RobotoMono;
    overflow: hidden;
    width: 100vw;

    --toolbar-height: 24px;
}


body * {
    scrollbar-color: #FFFFFF20 #20202000 !important;
}


::selection {
    color: black;
    background: #A0A0A0;
}


#editor, #terminal, #terminal * {
    color: #E0E0E0;
    font-family: RobotoMono;
    background: #202020;
    line-height: 1.5em;
}


#main-view {
    width: 100vw;
    height: calc(100vh - var(--toolbar-height));
    display: flex;
    flex-direction: row;
}


#editor {
    width: calc(100% - 20px);
    resize: none;
    outline: none;
    border: none;
    font-size: 12px;
    margin: 10px;
}


.gutter {
    background: #000000;
}


.gutter.gutter-horizontal {
    cursor: col-resize;
}


.gutter.gutter-vertical {
    cursor: row-resize;
}


#toolbar {
    line-height: var(--toolbar-height);
    height: var(--toolbar-height);
    font-family: RobotoBlack;
    font-size: 16px;
    padding: 0 10px;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    cursor: default;
    background: black;
    color: white;
    user-select: none;
}


#toolbar span.button {
    height: var(--toolbar-height);
    display: inline-block;
    font-family: Roboto;
    font-size: 12px;
    margin-left: 2em;
    cursor: pointer;
    opacity: 0.8;
}


#toolbar span.button:hover {
    opacity: 1;
}


#time {
    position: fixed;
    bottom: 1em;
    right: 2em;
    font-size: 12px;
}


#chart-controls {
    zoom: 0.5;
}




:fullscreen,
:-webkit-full-screen,
:-moz-full-screen {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  margin: 0 !important;
}

#text-panel, #graph-panel {
    background-color: #202020;
}